@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

::view-transition-old(root),
::view-transition-new(root) {
  animation: none;
  mix-blend-mode: normal;
}

::view-transition-group(root) {
  animation-duration: 0.5s;
}

.dark {
  color-scheme: dark;
}
